.member {
    position: relative;
    top: 3vh;
    width: 40%;
    height: 80vh;
    margin: auto;
    outline: 1px solid black;
    border-radius: 12px;
    background: rgb(204, 153, 0, 0.4);
    overflow:auto;
    padding: 20px;
}
.member .title {
    font-size: 4vh;
}
.member p {
    font-size: 3vh;
    text-align: center;
    white-space: pre-line;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 1px solid black;
    line-break: auto;
}

