*  Constitution */


.constitution article {
    position: relative;
    background: rgb(204, 153, 0, 0.4);
    border-radius: 12px;
    overflow: hidden;
    max-width: 80%;
    height: 60vh;
    margin: auto;
    box-shadow: 12px 12px 14px black;
    top: 2px;  
}
.constitution h1 {
    position: relative;
    font-size:9vh;
    text-shadow: 2px 2px 2px orange;
    text-decoration: underline;
    text-align: right;
    right: 20px;

}
article p {
    margin: 0;
    padding: 50px;
    overflow: hidden;
    text-align: right;
    white-space: line;
    text-overflow: ellipsis;
    font-size:5.7vh;
    text-decoration:underline;
    font-variant: small-caps;
    text-indent: 50px;
}
article p img {
    float: left;
    position: relative;
    margin-right: 50px;
    max-width: 40%;
    width: 800px;
    height: 400px;
    border-radius: 12px;
    outline: 1px solid black;
    filter: drop-shadow(6px 6px 2px black);
    
}
article p span {
    position: absolute;
    width: max-content;
    bottom: 5px;
    right: 6px;
    padding: 5px;
}
article p span a {
    position: relative;
    padding: 5px;
    font-size: 3vh;
    text-decoration: none;
    color: black;
    filter: drop-shadow(2px 2px 4px orange);
    border-radius: 12px;
    background-color: rgba(221, 167, 5, 0.8);
    outline: 1px double black;
}

article p span a:hover {
    color: white;
    background: rgb(204, 153, 0, 0.8);
    transition: ease-in-out .3s;
    animation: color 1s ease-in-out infinite;
    
}
@keyframes color {
    0%  {
        background: linear-gradient(to bottom right, rgba(221, 167, 5, 0.8),rgba(177, 133, 2, 0.8));
    }
    25%  {
        background: linear-gradient(to bottom right, rgb(204, 153, 0, 0.8), rgba(148, 112, 4, 0.8));
    }
    50% {
        background-color: linear-gradient(to bottom right, rgba(148, 112, 4, 0.8), rgba(114, 88, 8, 0.8));
    }
    75% {
        background-color: linear-gradient(to bottom right, rgba(211, 174, 62, 0.8), rgba(226, 192, 89, 0.8));
    }
    100% {
        background-color: linear-gradient(to bottom right, rgba(248, 216, 121, 0.8), rgba(255, 229, 151, 0.8));
    }
}